target/
.idea/
node_modules/

*.iml

dependency-reduced-pom.xml
scalastyle-output.xml

# frontend
frontend/node_modules
frontend/.env
frontend/dist/*

# Serverless
.serverless

# Test coverage reports
coverage
